<div>
  <p>{{ links.link_basico }}</p>
  <p>{{ links.link_entidad }}</p>
  <p>{{ links.link_url_parametro }}</p>
  <p>{{ links.link_con_parametro }}</p>
  <p>{{ links.link_ruta_entidad }}</p>
  <p>{{ links.link_opciones }}</p>
</div>
